---
import Layout from "@/layouts/Layout.astro";

import Hero from "@/components/sections/Hero.astro";
import OurPartners from "@/components/sections/OurPartners.astro";
---

<Layout>
  <section class="section hero py-0"><Hero /></section>

  <section class="section section-light pt-0">
    <OurPartners />
  </section>
</Layout>
