---
import "@/assets/styles/application.scss";

import SiteHeader from "@/components/SiteHeader.astro";
import SiteFooter from "@/components/SiteFooter.astro";

const { title = "OpenEWS" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <style>
      @import url("https://rsms.me/inter/inter.css");
    </style>
  </head>
  <body>
    <SiteHeader />

    <slot />

    <SiteFooter />
  </body>
</html>
